################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Icris.MJpegStreamer.Server/obj/Debug
/Icris.MJpegStreamer.Server/bin/Debug
/Icris.MJpegStreamer.Server/.vs/Icris.MJpegStreamer/v15
/Icris.MJpegStreamer.Server/packages
